* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(247, 247, 247);
  /* color: rgb(33, 33, 33); */
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  /* CSS SMooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 8%;
  font-size: 80px;
  color: aliceblue;
}

.header-2 {
  font-size: 30px;
  margin-top: 2%;
  color: aliceblue;
}

.one {
  background: linear-gradient(#304352, #d7d2cc);
}

.two {
  display: flex;
  justify-content: center;
  background: linear-gradient(#d7d2cc, #304352);
}

.three {
  display: flex;
  justify-content: center;
  background: linear-gradient(#304352, #d7d2cc);
}

.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
  color: aliceblue;
}

.nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  margin-top: 1%;
}

li:nth-child(1) {
  margin-left: 1rem;
  cursor: default;
}

li:nth-child(2) {
 margin-left: 60%;
}

li:nth-child(3) {
  margin-left: 2%;
}

a {
  color: aliceblue;
}

.nav ul li:hover:nth-child(n + 2) {
  color: plum;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

img {
  height: 200px;
  border-radius: 50%;
}

/* .vertical-line {
  border-left: 4px solid coral;
  display: block;
  height: 10%;
  transform: rotate(35deg);
} */

